1.Install Node in your local machine.
2.Clone the github repository to a local directory.
3.Run the commmand npm install(it will install all the dependencies).
4.Open the directory in your IDE.
5.In the terminal,run npm start(if you had nodemon, otherwise you can glo) or node server.js.
6.Your backend API will start running, now you can test it on different platforms.
